.layout-action-button.p-button .p-button-icon {
  font-size: 2.5rem;
  line-height: inherit;
  transform: rotate(0deg);
  transition: transform 1s;
}

.layout-action .p-speeddial-semi-circle.p-speeddial-direction-left {
  right: 0;
  top: calc(50% - 2rem);
}

.layout-action .p-speeddial-direction-left {
  justify-content: center;
  flex-direction: row-reverse;
}

.p-speeddial {
  position: fixed;
  display: flex;
  z-index: 999;
}

.p-speeddial-opened .p-speeddial-rotate {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.p-speeddial-rotate {
  -webkit-transition: -webkit-transform .25s cubic-bezier(.4, 0, .2, 1) 0ms;
  transition: -webkit-transform .25s cubic-bezier(.4, 0, .2, 1) 0ms;
  transition: transform .25s cubic-bezier(.4, 0, .2, 1) 0ms;
  transition: transform .25s cubic-bezier(.4, 0, .2, 1) 0ms, -webkit-transform .25s cubic-bezier(.4, 0, .2, 1) 0ms;
  will-change: transform;
}

.p-speeddial-direction-left .p-speeddial-list {
  flex-direction: row-reverse;
}

.p-speeddial-opened .p-speeddial-list {
  pointer-events: auto;
}

.p-speeddial-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: top 0s linear .2s;
  transition: top 0s linear .2s;
  pointer-events: none;
}

.p-speeddial-circle .p-speeddial-item:first-child, .p-speeddial-circle .p-speeddial-item:last-child, .p-speeddial-semi-circle .p-speeddial-item:first-child, .p-speeddial-semi-circle .p-speeddial-item:last-child, .p-speeddial-quarter-circle .p-speeddial-item:first-child, .p-speeddial-quarter-circle .p-speeddial-item:last-child {
  margin: 0;
}

.p-speeddial-direction-left .p-speeddial-item:first-child {
  margin-right: 0.5rem;
}

.p-speeddial-opened .p-speeddial-item {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 0.7;
  border-radius: 50%;
  background: #bec7ce;
  -webkit-box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 5px 8px 0 rgb(0 0 0 / 14%), 0 1px 14px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 5px 8px 0 rgb(0 0 0 / 14%), 0 1px 14px 0 rgb(0 0 0 / 12%);
}




.p-speeddial-circle .p-speeddial-item, .p-speeddial-quarter-circle .p-speeddial-item, .p-speeddial-semi-circle .p-speeddial-item {
  position: absolute;
}

.p-speeddial-circle .p-speeddial-item, .p-speeddial-semi-circle .p-speeddial-item, .p-speeddial-quarter-circle .p-speeddial-item {
  margin: 0;
}

.p-speeddial-direction-left .p-speeddial-item {
  margin: 0 0.25rem;
}

.p-speeddial-item {
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: opacity .8s, -webkit-transform .2s cubic-bezier(.4, 0, .2, 1) 0ms;
  transition: opacity .8s, -webkit-transform .2s cubic-bezier(.4, 0, .2, 1) 0ms;
  transition: transform .2s cubic-bezier(.4, 0, .2, 1) 0ms, opacity .8s;
  transition: transform .2s cubic-bezier(.4, 0, .2, 1) 0ms, opacity .8s, -webkit-transform .2s cubic-bezier(.4, 0, .2, 1) 0ms;
  will-change: transform;
}

.p-speeddial-action {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  width: 3rem;
  height: 3rem;
  background: #fafbfd3d;
  color: #3f51b5;
}

.p-speeddial-action.p-danger {
  color: #ad0000;
}

.p-speeddial-action.p-success {
  color: #2cbb00;
}

.p-speeddial-button.p-button.p-button-icon-only {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  opacity: 0.7;
  -webkit-box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 5px 8px 0 rgb(0 0 0 / 14%), 0 1px 14px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 5px 8px 0 rgb(0 0 0 / 14%), 0 1px 14px 0 rgb(0 0 0 / 12%);
}

.p-speeddial-button.p-button.p-button-icon-only .p-button-icon {
  font-size: 1.3rem;
}