.p-tooltip {
  position: absolute;
  padding: .25em .5rem;
}

.p-tooltip.p-tooltip-right,
.p-tooltip.p-tooltip-left {
  padding: 0 .25rem;
}

.p-tooltip.p-tooltip-top,
.p-tooltip.p-tooltip-bottom {
  padding: .25em 0;
}

.p-tooltip .p-tooltip-text {
  white-space: pre-line;
  word-break: break-word;
  background: rgb(73, 80, 87);
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  border-radius: 3px;
}

.p-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.p-tooltip-right .p-tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -.25rem;
  border-width: .25em .25em .25em 0;
  border-right-color: rgb(73, 80, 87);
}

.p-tooltip-left .p-tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -.25rem;
  border-width: .25em 0 .25em .25rem;
  border-left-color: rgb(73, 80, 87);
}

.p-tooltip.p-tooltip-top {
  padding: .25em 0;
}

.p-tooltip-top .p-tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -.25rem;
  border-width: .25em .25em 0;
  border-top-color: rgb(73, 80, 87);
}

.p-tooltip-bottom .p-tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -.25rem;
  border-width: 0 .25em .25rem;
  border-bottom-color: rgb(73, 80, 87);
}