.p-button-action {
  min-width: 125px;
}

.c-section {
  min-width: 400px;
  max-width: 500px;
}

.layout-static-inactive .c-section {
  max-width: 600px;
}

.p-suggestion {
  max-width: 350px;
}

.layout-static-inactive .p-suggestion {
  max-width: 500px;
}

.p-suggestion .p-datatable.p-datatable-sm .p-datatable-tbody>tr>td {
  padding: 0.5rem 0.2rem;
  font-size: smaller;
}

.p-suggestion-actual {
  color: rgb(204, 0, 0) !important;
}

.p-mr-1.paragraph {
  color: #d28819;
  font-weight: 600;
  margin-left: 0.5rem;
}

.noParagraph .p-field-checkbox, .p-formgroup-inline .p-field-radiobutton {
  margin-bottom: 0.5rem;
}

.noParagraph .p-field-checkbox>label, .noParagraph .p-field-radiobutton>label {
  margin-left: 0;
}

.p-checkbox-right.p-field-checkbox>label {
  margin-left: 0;
}

.p-checkbox-right.p-field-checkbox, .p-checkbox-right.p-field-radiobutton {
  margin-bottom: 0.5rem;
}

.p-grid.paragraph {
  padding: 0.5rem 0;
}

.paragraph .p-grid .p-field-checkbox, .paragraph .p-grid .p-field-radiobutton {
  margin-bottom: 0;
}

.p-grid.paragraph .p-grid {
  margin-top: 0.5rem;
}

.p-paragraph-field {
  margin-bottom: 0.75rem;
}