.p-button-action {
  min-width: 125px;
}

.c-section {
  min-width: 400px;
  max-width: 500px;
}

.layout-static-inactive .c-section {
  max-width: 600px;
}

.p-suggestion {
  max-width: 350px;
}

.layout-static-inactive .p-suggestion {
  max-width: 500px;
}

.p-suggestion .p-datatable.p-datatable-sm .p-datatable-tbody>tr>td {
  padding: 0.5rem 0.2rem;
  font-size: smaller;
}

.p-suggestion-actual {
  color: rgb(204, 0, 0) !important;
}