.login-body {
  background: #f8f9fa;
  color: #495057;
}

.login-body .login-wrapper {
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.login-body .login-wrapper .login-panel {
  width: 30%;
  height: 100%;
  text-align: center;
  padding: 40px 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-direction: column;
  flex-direction: column;
}

.login-body .login-wrapper .login-image {
  width: 70%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px 20px;
  background-color: cadetblue;
}

.login-body .login-wrapper .login-panel .login-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
}

.login-body .login-wrapper .login-panel .login-form>p {
  font-weight: 600;
  margin: 0;
  color: #6c757d;
  margin-bottom: 32px;
}

.login-body .login-wrapper .login-panel .login-form>p>a {
  cursor: pointer;
}

.login-body .login-wrapper .login-panel .login-form .p-fluid .p-field {
  margin-bottom: 1.7rem;
}

.login-body .login-wrapper .login-panel .login-form .p-fluid .p-field .p-float-label .p-input-icon-right>input {
  width: 100%;
  max-width: 310px;
}

.login-body .login-wrapper .login-panel .login-form .p-fluid>button {
  width: 100%;
  max-width: 310px;
}

.login-body .login-wrapper .login-panel .login-form>.p-password .p-password-input {
  width: 100%;
}

.login-body .login-wrapper .login-panel .logo {
  height: 50px;
}

.login-body .login-wrapper .login-image .login-image-content>h1 {
  font-size: 60px;
  margin: 0;
  color: #ffffff;
}

.login-body .login-wrapper .login-image .login-image-content h3 {
  font-size: 24px;
  color: #ffffff;
  margin: 0;
  font-weight: 600;
  margin-top: 32px;
}

.login-body .login-wrapper .login-image .image-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-height: 769px) {
  .login-body .login-wrapper .login-panel .logo_reg {
    height: 50px;
  }
}

@media (max-height: 768px) {
  .login-body .login-wrapper .login-panel .logo_reg {
    display: none;
  }
}

@media (min-width: 993px) {
  .login-body .login-wrapper .login-image {
    background: linear-gradient( 180deg, #324191, #2196F3 86.48%)
  }
}

@media (max-width: 992px) {
  .login-body .login-wrapper .login-panel {
    width: 100%;
    z-index: 2;
  }
  .login-body .login-wrapper .login-image {
    display: none;
  }
}

.login-body .login-wrapper .login-image .image-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.login-body .login-wrapper .login-image .image-footer>p {
  font-weight: 600;
  margin: 0;
  color: #ffffff;
  margin-right: 20px;
}

h2 {
  margin: 0 0 2rem 0 !important;
}