@font-face {
  font-family: "Golos";
  src: url("./fonts/Golos-Text_Regular.woff2") format("woff2"), url("./fonts/Golos-Text_Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos";
  src: url("./fonts/Golos-Text_Medium.woff2") format("woff2"), url("./fonts/Golos-Text_Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos";
  src: url("./fonts/Golos-Text_Bold.woff2") format("woff2"), url("./fonts/Golos-Text_Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos";
  src: url("./fonts/Golos-Text_Black.woff2") format("woff2"), url("./fonts/Golos-Text_Black.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos";
  src: url("./fonts/Golos-Text_DemiBold.woff2") format("woff2"), url("./fonts/Golos-Text_DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  font-size: 14px;
}

div {
  display: block;
}

body {
  font-family: "Golos", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  color: #495057;
  padding: 0;
  margin: 0;
  min-height: 100%;
  background: #f8f9fa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --surface-a: #ffffff;
  --surface-b: #f8f9fa;
  --surface-c: #e9ecef;
  --surface-d: #dee2e6;
  --surface-e: #ffffff;
  --surface-f: #ffffff;
  --text-color: #495057;
  --text-color-secondary: #6c757d;
  --primary-color: #21c9f3;
  --primary-color-text: #ffffff;
  --font-family: Golos, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.p-inputtext {
  font-family: "Golos", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  color: #495057;
  background: #ffffff;
  padding: 0.5rem 0.5rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 4px;
}

.p-inputtext:enabled:hover {
  border-color: #2196F3;
}

.p-component {
  font-family: "Golos", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: normal;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h2 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #1976D2;
}

* {
  box-sizing: border-box;
}

.p-field {
  margin-bottom: 1.5rem;
}

i:last-of-type, .p-input-icon-right>svg:last-of-type, .p-input-icon-right>.p-input-suffix {
  right: 0.5rem;
  color: #6c757d;
}

.p-input-icon-left>.p-input-prefix, .p-input-icon-left>i, .p-input-icon-left>svg, .p-input-icon-right>.p-input-suffix, .p-input-icon-right>i, .p-input-icon-right>svg {
  position: absolute;
  top: 50%;
  margin-top: -.5rem;
}

.p-float-label .p-inputwrapper-filled~label, .p-float-label .p-inputwrapper-focus~label, .p-float-label input.p-filled~label, .p-float-label input:focus~label, .p-float-label textarea.p-filled~label, .p-float-label textarea:focus~label {
  top: -.75rem;
  font-size: 12px;
}

.p-float-label label {
  position: absolute;
  pointer-events: none;
  top: 50%;
  margin-top: -.5rem;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  line-height: 1;
}

.p-float-label>label {
  left: 0.5rem;
  color: #6c757d;
  transition-duration: 0.2s;
}

.p-float-label {
  display: block;
  position: relative;
}

.p-password.p-invalid.p-component>.p-inputtext {
  border-color: #f44336;
}

.p-float-label>label.p-error {
  color: #f44336;
}

.p-error {
  color: #f44336;
}

.pi {
  font-family: "primeicons";
  font-style: normal;
  font-weight: 400;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

.p-button {
  color: rgb(255, 255, 255);
  background: rgb(63, 81, 181);
  border: 1px solid rgb(63, 81, 181);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
  border-radius: 4px;
}

.p-button:enabled:hover {
  background: rgb(57, 73, 163);
  color: rgb(255, 255, 255);
  border-color: rgb(57, 73, 163);
}

.p-badge {
  background: #3F51B5;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
  min-width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}

.p-button:enabled:active {
  background: rgb(50, 65, 145);
  color: rgb(255, 255, 255);
  border-color: rgb(50, 65, 145);
}

.p-button.p-button-outlined {
  background-color: transparent;
  color: rgb(63, 81, 181);
  border: 1px solid;
}

.p-button.p-button-outlined:enabled:hover {
  background: rgba(63, 81, 181, 0.04);
  color: rgb(63, 81, 181);
  border: 1px solid;
}

.p-button.p-button-outlined:enabled:active {
  background: rgba(63, 81, 181, 0.16);
  color: rgb(63, 81, 181);
  border: 1px solid;
}

.p-button.p-button-outlined.p-button-plain {
  color: rgb(108, 117, 125);
  border-color: rgb(108, 117, 125);
}

.p-button.p-button-outlined.p-button-plain:enabled:hover {
  background: rgb(233, 236, 239);
  color: rgb(108, 117, 125);
}

.p-button.p-button-outlined.p-button-plain:enabled:active {
  background: rgb(222, 226, 230);
  color: rgb(108, 117, 125);
}

.p-button.p-button-text {
  background-color: transparent;
  color: rgb(63, 81, 181);
  border-color: transparent;
}

.p-button.p-button-text:enabled:hover {
  background: rgba(63, 81, 181, 0.04);
  color: rgb(63, 81, 181);
  border-color: transparent;
}

.p-button.p-button-text:enabled:active {
  background: rgba(63, 81, 181, 0.16);
  color: rgb(63, 81, 181);
  border-color: transparent;
}

.p-button.p-button-text.p-button-plain {
  color: rgb(108, 117, 125);
}

.p-button.p-button-text.p-button-plain:enabled:hover {
  background: rgb(233, 236, 239);
  color: rgb(108, 117, 125);
}

.p-button.p-button-text.p-button-plain:enabled:active {
  background: rgb(222, 226, 230);
  color: rgb(108, 117, 125);
}

.p-button:focus {
  outline: none 0px;
  outline-offset: 0px;
  box-shadow: rgb(176, 184, 228) 0px 0px 0px 0.2rem;
}

.p-button .p-button-icon-left {
  margin-right: 0.5rem;
}

.p-button .p-button-icon-right {
  margin-left: 0.5rem;
}

.p-button .p-button-icon-bottom {
  margin-top: 0.5rem;
}

.p-button .p-button-icon-top {
  margin-bottom: 0.5rem;
}

.p-button .p-badge {
  margin-left: 0.5rem;
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
  color: rgb(63, 81, 181);
  background-color: rgb(255, 255, 255);
}

.p-button.p-button-raised {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.p-button.p-button-rounded {
  border-radius: 2rem;
}

.p-button.p-button-icon-only {
  width: 2.357rem;
  padding: 0.5rem 0px;
}

.p-button.p-button-icon-only .p-button-icon-left, .p-button.p-button-icon-only .p-button-icon-right {
  margin: 0px;
}

.p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
  height: 2.357rem;
}

.p-button.p-button-sm {
  font-size: 0.875rem;
  padding: 0.4375rem 0.875rem;
}

.p-button.p-button-sm .p-button-icon {
  font-size: 0.875rem;
}

.p-button.p-button-lg {
  font-size: 1.25rem;
  padding: 0.625rem 1.25rem;
}

.p-button.p-button-lg .p-button-icon {
  font-size: 1.25rem;
}

.p-fluid .p-button {
  width: 100%;
}

.p-fluid .p-button-icon-only {
  width: 2.357rem;
}

.p-fluid .p-buttonset {
  display: flex;
}

.p-fluid .p-buttonset .p-button {
  flex: 1 1 0%;
}

.p-button.p-button-secondary, .p-buttonset.p-button-secondary>.p-button, .p-splitbutton.p-button-secondary>.p-button {
  color: rgb(255, 255, 255);
  background: rgb(96, 125, 139);
  border: 1px solid rgb(96, 125, 139);
}

.p-button.p-button-secondary:enabled:hover, .p-buttonset.p-button-secondary>.p-button:enabled:hover, .p-splitbutton.p-button-secondary>.p-button:enabled:hover {
  background: rgb(86, 113, 125);
  color: rgb(255, 255, 255);
  border-color: rgb(86, 113, 125);
}

.p-button.p-button-secondary:enabled:focus, .p-buttonset.p-button-secondary>.p-button:enabled:focus, .p-splitbutton.p-button-secondary>.p-button:enabled:focus {
  box-shadow: rgb(190, 204, 210) 0px 0px 0px 0.2rem;
}

.p-button.p-button-secondary:enabled:active, .p-buttonset.p-button-secondary>.p-button:enabled:active, .p-splitbutton.p-button-secondary>.p-button:enabled:active {
  background: rgb(77, 100, 111);
  color: rgb(255, 255, 255);
  border-color: rgb(77, 100, 111);
}

.p-button.p-button-secondary.p-button-outlined, .p-buttonset.p-button-secondary>.p-button.p-button-outlined, .p-splitbutton.p-button-secondary>.p-button.p-button-outlined {
  background-color: transparent;
  color: rgb(96, 125, 139);
  border: 1px solid;
}

.p-button.p-button-secondary.p-button-outlined:enabled:hover, .p-buttonset.p-button-secondary>.p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-secondary>.p-button.p-button-outlined:enabled:hover {
  background: rgba(96, 125, 139, 0.04);
  color: rgb(96, 125, 139);
  border: 1px solid;
}

.p-button.p-button-secondary.p-button-outlined:enabled:active, .p-buttonset.p-button-secondary>.p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-secondary>.p-button.p-button-outlined:enabled:active {
  background: rgba(96, 125, 139, 0.16);
  color: rgb(96, 125, 139);
  border: 1px solid;
}

.p-button.p-button-secondary.p-button-text, .p-buttonset.p-button-secondary>.p-button.p-button-text, .p-splitbutton.p-button-secondary>.p-button.p-button-text {
  background-color: transparent;
  color: rgb(96, 125, 139);
  border-color: transparent;
}

.p-button.p-button-secondary.p-button-text:enabled:hover, .p-buttonset.p-button-secondary>.p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-secondary>.p-button.p-button-text:enabled:hover {
  background: rgba(96, 125, 139, 0.04);
  border-color: transparent;
  color: rgb(96, 125, 139);
}

.p-button.p-button-secondary.p-button-text:enabled:active, .p-buttonset.p-button-secondary>.p-button.p-button-text:enabled:active, .p-splitbutton.p-button-secondary>.p-button.p-button-text:enabled:active {
  background: rgba(96, 125, 139, 0.16);
  border-color: transparent;
  color: rgb(96, 125, 139);
}

.p-button.p-button-info, .p-buttonset.p-button-info>.p-button, .p-splitbutton.p-button-info>.p-button {
  color: rgb(255, 255, 255);
  background: rgb(2, 136, 209);
  border: 1px solid rgb(2, 136, 209);
}

.p-button.p-button-info:enabled:hover, .p-buttonset.p-button-info>.p-button:enabled:hover, .p-splitbutton.p-button-info>.p-button:enabled:hover {
  background: rgb(2, 122, 188);
  color: rgb(255, 255, 255);
  border-color: rgb(2, 122, 188);
}

.p-button.p-button-info:enabled:focus, .p-buttonset.p-button-info>.p-button:enabled:focus, .p-splitbutton.p-button-info>.p-button:enabled:focus {
  box-shadow: rgb(137, 212, 254) 0px 0px 0px 0.2rem;
}

.p-button.p-button-info:enabled:active, .p-buttonset.p-button-info>.p-button:enabled:active, .p-splitbutton.p-button-info>.p-button:enabled:active {
  background: rgb(2, 109, 167);
  color: rgb(255, 255, 255);
  border-color: rgb(2, 109, 167);
}

.p-button.p-button-info.p-button-outlined, .p-buttonset.p-button-info>.p-button.p-button-outlined, .p-splitbutton.p-button-info>.p-button.p-button-outlined {
  background-color: transparent;
  color: rgb(2, 136, 209);
  border: 1px solid;
}

.p-button.p-button-info.p-button-outlined:enabled:hover, .p-buttonset.p-button-info>.p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-info>.p-button.p-button-outlined:enabled:hover {
  background: rgba(2, 136, 209, 0.04);
  color: rgb(2, 136, 209);
  border: 1px solid;
}

.p-button.p-button-info.p-button-outlined:enabled:active, .p-buttonset.p-button-info>.p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-info>.p-button.p-button-outlined:enabled:active {
  background: rgba(2, 136, 209, 0.16);
  color: rgb(2, 136, 209);
  border: 1px solid;
}

.p-button.p-button-info.p-button-text, .p-buttonset.p-button-info>.p-button.p-button-text, .p-splitbutton.p-button-info>.p-button.p-button-text {
  background-color: transparent;
  color: rgb(2, 136, 209);
  border-color: transparent;
}

.p-button.p-button-info.p-button-text:enabled:hover, .p-buttonset.p-button-info>.p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-info>.p-button.p-button-text:enabled:hover {
  background: rgba(2, 136, 209, 0.04);
  border-color: transparent;
  color: rgb(2, 136, 209);
}

.p-button.p-button-info.p-button-text:enabled:active, .p-buttonset.p-button-info>.p-button.p-button-text:enabled:active, .p-splitbutton.p-button-info>.p-button.p-button-text:enabled:active {
  background: rgba(2, 136, 209, 0.16);
  border-color: transparent;
  color: rgb(2, 136, 209);
}

.p-button.p-button-success, .p-buttonset.p-button-success>.p-button, .p-splitbutton.p-button-success>.p-button {
  color: rgb(255, 255, 255);
  background: rgb(104, 159, 56);
  border: 1px solid rgb(104, 159, 56);
}

.p-button.p-button-success:enabled:hover, .p-buttonset.p-button-success>.p-button:enabled:hover, .p-splitbutton.p-button-success>.p-button:enabled:hover {
  background: rgb(94, 143, 50);
  color: rgb(255, 255, 255);
  border-color: rgb(94, 143, 50);
}

.p-button.p-button-success:enabled:focus, .p-buttonset.p-button-success>.p-button:enabled:focus, .p-splitbutton.p-button-success>.p-button:enabled:focus {
  box-shadow: rgb(194, 224, 168) 0px 0px 0px 0.2rem;
}

.p-button.p-button-success:enabled:active, .p-buttonset.p-button-success>.p-button:enabled:active, .p-splitbutton.p-button-success>.p-button:enabled:active {
  background: rgb(83, 127, 45);
  color: rgb(255, 255, 255);
  border-color: rgb(83, 127, 45);
}

.p-button.p-button-success.p-button-outlined, .p-buttonset.p-button-success>.p-button.p-button-outlined, .p-splitbutton.p-button-success>.p-button.p-button-outlined {
  background-color: transparent;
  color: rgb(104, 159, 56);
  border: 1px solid;
}

.p-button.p-button-success.p-button-outlined:enabled:hover, .p-buttonset.p-button-success>.p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-success>.p-button.p-button-outlined:enabled:hover {
  background: rgba(104, 159, 56, 0.04);
  color: rgb(104, 159, 56);
  border: 1px solid;
}

.p-button.p-button-success.p-button-outlined:enabled:active, .p-buttonset.p-button-success>.p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-success>.p-button.p-button-outlined:enabled:active {
  background: rgba(104, 159, 56, 0.16);
  color: rgb(104, 159, 56);
  border: 1px solid;
}

.p-button.p-button-success.p-button-text, .p-buttonset.p-button-success>.p-button.p-button-text, .p-splitbutton.p-button-success>.p-button.p-button-text {
  background-color: transparent;
  color: rgb(104, 159, 56);
  border-color: transparent;
}

.p-button.p-button-success.p-button-text:enabled:hover, .p-buttonset.p-button-success>.p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-success>.p-button.p-button-text:enabled:hover {
  background: rgba(104, 159, 56, 0.04);
  border-color: transparent;
  color: rgb(104, 159, 56);
}

.p-button.p-button-success.p-button-text:enabled:active, .p-buttonset.p-button-success>.p-button.p-button-text:enabled:active, .p-splitbutton.p-button-success>.p-button.p-button-text:enabled:active {
  background: rgba(104, 159, 56, 0.16);
  border-color: transparent;
  color: rgb(104, 159, 56);
}

.p-button.p-button-warning, .p-buttonset.p-button-warning>.p-button, .p-splitbutton.p-button-warning>.p-button {
  color: rgb(33, 37, 41);
  background: rgb(251, 192, 45);
  border: 1px solid rgb(251, 192, 45);
}

.p-button.p-button-warning:enabled:hover, .p-buttonset.p-button-warning>.p-button:enabled:hover, .p-splitbutton.p-button-warning>.p-button:enabled:hover {
  background: rgb(250, 183, 16);
  color: rgb(33, 37, 41);
  border-color: rgb(250, 183, 16);
}

.p-button.p-button-warning:enabled:focus, .p-buttonset.p-button-warning>.p-button:enabled:focus, .p-splitbutton.p-button-warning>.p-button:enabled:focus {
  box-shadow: rgb(253, 230, 171) 0px 0px 0px 0.2rem;
}

.p-button.p-button-warning:enabled:active, .p-buttonset.p-button-warning>.p-button:enabled:active, .p-splitbutton.p-button-warning>.p-button:enabled:active {
  background: rgb(232, 167, 4);
  color: rgb(33, 37, 41);
  border-color: rgb(232, 167, 4);
}

.p-button.p-button-warning.p-button-outlined, .p-buttonset.p-button-warning>.p-button.p-button-outlined, .p-splitbutton.p-button-warning>.p-button.p-button-outlined {
  background-color: transparent;
  color: rgb(251, 192, 45);
  border: 1px solid;
}

.p-button.p-button-warning.p-button-outlined:enabled:hover, .p-buttonset.p-button-warning>.p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-warning>.p-button.p-button-outlined:enabled:hover {
  background: rgba(251, 192, 45, 0.04);
  color: rgb(251, 192, 45);
  border: 1px solid;
}

.p-button.p-button-warning.p-button-outlined:enabled:active, .p-buttonset.p-button-warning>.p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-warning>.p-button.p-button-outlined:enabled:active {
  background: rgba(251, 192, 45, 0.16);
  color: rgb(251, 192, 45);
  border: 1px solid;
}

.p-button.p-button-warning.p-button-text, .p-buttonset.p-button-warning>.p-button.p-button-text, .p-splitbutton.p-button-warning>.p-button.p-button-text {
  background-color: transparent;
  color: rgb(251, 192, 45);
  border-color: transparent;
}

.p-button.p-button-warning.p-button-text:enabled:hover, .p-buttonset.p-button-warning>.p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-warning>.p-button.p-button-text:enabled:hover {
  background: rgba(251, 192, 45, 0.04);
  border-color: transparent;
  color: rgb(251, 192, 45);
}

.p-button.p-button-warning.p-button-text:enabled:active, .p-buttonset.p-button-warning>.p-button.p-button-text:enabled:active, .p-splitbutton.p-button-warning>.p-button.p-button-text:enabled:active {
  background: rgba(251, 192, 45, 0.16);
  border-color: transparent;
  color: rgb(251, 192, 45);
}

.p-button.p-button-help, .p-buttonset.p-button-help>.p-button, .p-splitbutton.p-button-help>.p-button {
  color: rgb(255, 255, 255);
  background: rgb(156, 39, 176);
  border: 1px solid rgb(156, 39, 176);
}

.p-button.p-button-help:enabled:hover, .p-buttonset.p-button-help>.p-button:enabled:hover, .p-splitbutton.p-button-help>.p-button:enabled:hover {
  background: rgb(140, 35, 158);
  color: rgb(255, 255, 255);
  border-color: rgb(140, 35, 158);
}

.p-button.p-button-help:enabled:focus, .p-buttonset.p-button-help>.p-button:enabled:focus, .p-splitbutton.p-button-help>.p-button:enabled:focus {
  box-shadow: rgb(223, 158, 234) 0px 0px 0px 0.2rem;
}

.p-button.p-button-help:enabled:active, .p-buttonset.p-button-help>.p-button:enabled:active, .p-splitbutton.p-button-help>.p-button:enabled:active {
  background: rgb(125, 31, 141);
  color: rgb(255, 255, 255);
  border-color: rgb(125, 31, 141);
}

.p-button.p-button-help.p-button-outlined, .p-buttonset.p-button-help>.p-button.p-button-outlined, .p-splitbutton.p-button-help>.p-button.p-button-outlined {
  background-color: transparent;
  color: rgb(156, 39, 176);
  border: 1px solid;
}

.p-button.p-button-help.p-button-outlined:enabled:hover, .p-buttonset.p-button-help>.p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-help>.p-button.p-button-outlined:enabled:hover {
  background: rgba(156, 39, 176, 0.04);
  color: rgb(156, 39, 176);
  border: 1px solid;
}

.p-button.p-button-help.p-button-outlined:enabled:active, .p-buttonset.p-button-help>.p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-help>.p-button.p-button-outlined:enabled:active {
  background: rgba(156, 39, 176, 0.16);
  color: rgb(156, 39, 176);
  border: 1px solid;
}

.p-button.p-button-help.p-button-text, .p-buttonset.p-button-help>.p-button.p-button-text, .p-splitbutton.p-button-help>.p-button.p-button-text {
  background-color: transparent;
  color: rgb(156, 39, 176);
  border-color: transparent;
}

.p-button.p-button-help.p-button-text:enabled:hover, .p-buttonset.p-button-help>.p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-help>.p-button.p-button-text:enabled:hover {
  background: rgba(156, 39, 176, 0.04);
  border-color: transparent;
  color: rgb(156, 39, 176);
}

.p-button.p-button-help.p-button-text:enabled:active, .p-buttonset.p-button-help>.p-button.p-button-text:enabled:active, .p-splitbutton.p-button-help>.p-button.p-button-text:enabled:active {
  background: rgba(156, 39, 176, 0.16);
  border-color: transparent;
  color: rgb(156, 39, 176);
}

.p-button.p-button-danger, .p-buttonset.p-button-danger>.p-button, .p-splitbutton.p-button-danger>.p-button {
  color: rgb(255, 255, 255);
  background: rgb(211, 47, 47);
  border: 1px solid rgb(211, 47, 47);
}

.p-button.p-button-danger:enabled:hover, .p-buttonset.p-button-danger>.p-button:enabled:hover, .p-splitbutton.p-button-danger>.p-button:enabled:hover {
  background: rgb(192, 41, 41);
  color: rgb(255, 255, 255);
  border-color: rgb(192, 41, 41);
}

.p-button.p-button-danger:enabled:focus, .p-buttonset.p-button-danger>.p-button:enabled:focus, .p-splitbutton.p-button-danger>.p-button:enabled:focus {
  box-shadow: rgb(237, 172, 172) 0px 0px 0px 0.2rem;
}

.p-button.p-button-danger:enabled:active, .p-buttonset.p-button-danger>.p-button:enabled:active, .p-splitbutton.p-button-danger>.p-button:enabled:active {
  background: rgb(170, 36, 36);
  color: rgb(255, 255, 255);
  border-color: rgb(170, 36, 36);
}

.p-button.p-button-danger.p-button-outlined, .p-buttonset.p-button-danger>.p-button.p-button-outlined, .p-splitbutton.p-button-danger>.p-button.p-button-outlined {
  background-color: transparent;
  color: rgb(211, 47, 47);
  border: 1px solid;
}

.p-button.p-button-danger.p-button-outlined:enabled:hover, .p-buttonset.p-button-danger>.p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-danger>.p-button.p-button-outlined:enabled:hover {
  background: rgba(211, 47, 47, 0.04);
  color: rgb(211, 47, 47);
  border: 1px solid;
}

.p-button.p-button-danger.p-button-outlined:enabled:active, .p-buttonset.p-button-danger>.p-button.p-button-outlined:enabled:active, .p-splitbutton.p-button-danger>.p-button.p-button-outlined:enabled:active {
  background: rgba(211, 47, 47, 0.16);
  color: rgb(211, 47, 47);
  border: 1px solid;
}

.p-button.p-button-danger.p-button-text, .p-buttonset.p-button-danger>.p-button.p-button-text, .p-splitbutton.p-button-danger>.p-button.p-button-text {
  background-color: transparent;
  color: rgb(211, 47, 47);
  border-color: transparent;
}

.p-button.p-button-danger.p-button-text:enabled:hover, .p-buttonset.p-button-danger>.p-button.p-button-text:enabled:hover, .p-splitbutton.p-button-danger>.p-button.p-button-text:enabled:hover {
  background: rgba(211, 47, 47, 0.04);
  border-color: transparent;
  color: rgb(211, 47, 47);
}

.p-button.p-button-danger.p-button-text:enabled:active, .p-buttonset.p-button-danger>.p-button.p-button-text:enabled:active, .p-splitbutton.p-button-danger>.p-button.p-button-text:enabled:active {
  background: rgba(211, 47, 47, 0.16);
  border-color: transparent;
  color: rgb(211, 47, 47);
}

.p-button.p-button-link {
  color: rgb(50, 65, 145);
  background: transparent;
  border: transparent;
}

.p-button.p-button-link:enabled:hover {
  background: transparent;
  color: rgb(50, 65, 145);
  border-color: transparent;
}

.p-button.p-button-link:enabled:hover .p-button-label {
  text-decoration: underline;
}

.p-button.p-button-link:enabled:focus {
  background: transparent;
  box-shadow: rgb(176, 184, 228) 0px 0px 0px 0.2rem;
  border-color: transparent;
}

.p-button.p-button-link:enabled:active {
  background: transparent;
  color: rgb(50, 65, 145);
  border-color: transparent;
}

.p-password-panel {
  padding: 1rem;
  background: #ffffff;
  color: #495057;
  border: 0 none;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.p-password-panel .p-password-meter {
  margin-bottom: 0.5rem;
}

.p-inputtext:enabled:hover {
  border-color: #3F51B5;
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #b0b8e4;
  border-color: #3F51B5;
}

.p-inputtext.p-error, .p-inputtext.p-invalid {
  border-color: #f44336;
}

.p-input-filled .p-inputtext {
  background-color: #f8f9fa;
}

.p-input-filled .p-inputtext:enabled:hover {
  background-color: #f8f9fa;
}

.p-input-filled .p-inputtext:enabled:focus {
  background-color: #ffffff;
}

.p-inputtext-sm .p-inputtext {
  font-size: 0.875rem;
  padding: 0.4375rem 0.4375rem;
}

.p-inputtext-lg .p-inputtext {
  font-size: 1.25rem;
  padding: 0.625rem 0.625rem;
}

.p-divider.p-divider-horizontal:before {
  border-top: 1px #dee2e6;
}

.p-card .p-card-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem 0;
  font-weight: 600;
  font-size: larger;
}