.exception-body{
    background-color: #fbfbfc;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/404-background-img.jpg);
    display: flex;
    height: 100vh;
}
.error-body{
    background-color: #fbfbfc;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
}

.nopage-block{
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: -50%;
    background: #ffffffa6;

}
.nopage_h1{
    font-size: 60px;
    font-weight: 600;
    line-height: 1em;
    margin-top: 60px;
    font-family: "Golos";
}

.nopage_text{
    font-family: "Golos";
    font-size: 17px;
    line-height: 28px;
    color: #000;
    margin-bottom: 12px;
}

.nopage-button{
    font-family: "Golos";
    padding: 0 24px;
    font-size: 16px;
    line-height: 56px;
    height: 56px;
    color: #565656;
    border-radius: 4px;
    border: 1px solid #cdd1d4;
    display: inline-block;
    margin-right: 20px;
}

.nopage-button:hover{
    background:#dbe2e6;
}

.erpage-block{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: -50%;
    background: #ee3f58;
    padding: 32px;
    color: #ffffff;
    border-radius: 8px;
    font-family: "Golos";
}